@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    position: relative;
    z-index: 1;
    background: rgb(34, 34, 34);
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(48, 48, 48);
    z-index: -1;
    transform-origin: left;
    transition: transform 0.5s ease;
    transform: scale(1);
    border-radius: 5px;
}

.button:hover::before {
    transform-origin: right;
    transition: transform 0.5s ease;
    transform: scale(0);
}


/* Make Swiper pagination bullets white */
.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  opacity: 1;
}


